.mainPage .meetVideoContainer{
    position: relative;
    height:100vh;
    background-color:rgba(0, 0, 0);
}
.mainPage .meetUserVideo{
    position: absolute;
    bottom: 10vh;
    height:20vh;
    width:auto;
    left:0;

}
.mainPage video {
    transform: scaleX(-1);
}
.mainPage .buttonContainer {
    position: absolute;
    bottom: 20px;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 15px;
}
.mainPage .buttonContainer svg{
    font-size: 3rem;
    color: white;
}
.mainPage .conferenceView{
    display:flex;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.mainPage .conferenceView video{
    width: 30vw;
    min-width: 20vw;
    border-radius: 20px;
}
.mainPage .chatRoom{
    position:absolute;
    height:90vh;
    right:0;
    background:whitesmoke;
    border-radius:10px;
    width:25vw;
    padding-inline: 10px;
    color: #000;

}
.mainPage .chatContainer{
    position: relative;
    height:100%;
}
.mainPage .chatContainer h1{
    color: black;
}
.mainPage.chattingDisplay p{
    color: black;
}
.mainPage .chattingArea{
    position: absolute;
    bottom:0;
}
.mainPage.chattingDisplay{
    height: 80%;
    overflow-y: auto;
    padding: 10px;
}

.lobby {
    background-color: black;
    color: white;

    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.lobby h2 {
    color: white !important;
}

.lobby video {
    width: 350px;
    border: 2px solid white;
    border-radius: 12px;
    margin-top: 10px;
}

.lobby .MuiInputBase-input {
    color: white;
}

.lobby .MuiInputLabel-root {
    color: white;
}

.lobby .MuiInputLabel-root.Mui-focused {
    color: white;
}

.lobby .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.lobby .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.lobby .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
}